.about{
margin-bottom: 124px;
&__text{
line-height: 150%;
text-align: justify;
margin-bottom: 86px;
}

&__list{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
}

@media (max-width: 750px){
   .about{

      &__text{

      }
      
      &__list{
         flex-direction: column;
      }
      }
}