.advantage{
   display: flex;
   gap:15px ;
line-height: 40px;
flex: 1 0 33.3%;
margin-bottom: 70px;
flex-wrap: nowrap;
&:nth-child(3n+2){
   justify-content: center;
}
&:nth-child(3n+3){
   justify-content: end;
}
}
