.cat{
   position: relative;
   min-width: 712px;
   width: min-content;
   margin-bottom: -29px;
   &__eye{
      position: absolute;
   }
}

.eye1{
   top: 50%;
   left: 27%;
}
.eye2{
   top: 50%;
   left: 61%;
}