.header{
   background: rgba(0, 0, 0, 0.66);
backdrop-filter: blur(15px);
width: 100vw;
height: 154px;
display: flex;
align-items: center;
position: fixed;
z-index: 999;
transition: all 0.2s linear;
&_active{  
   height: 110px;
}
&__flex{
   display: flex;
   gap: 40px;
   align-items: center;
   justify-content: space-between;
   border-bottom: 4px solid #8030EB;
   height: 100%;
}
}