.nav{
   display: flex;
   align-items: center;
   gap: 52px;
   white-space: nowrap;
   position: relative;
   height: 100%;
   &__btn{
      background: transparent;
      color: #ffffff;
      font-size: 16px;
   }
   &_active{
      transition: all 0.5s linear;
      color: #8030EB;
   }
   &__select{
      color: #ffffff;
      cursor: pointer;
      outline: none;
      border: 3px solid #8030EB;
      border-radius: 40px;
      width: 64px;
      height: 40px;
      background: transparent;
   }
   &__select:focus{
      background: #8030EB;
   }
   &__select #first:active{
display: block;
   }
&__span
   {
      position: absolute;
      width: 4px;
      background: #8030EB;
      bottom: 0;
      transition: all 0.3s linear;
   }
}


@media (max-width: 768px){
   .nav{
      gap: 0px;
      &__btn {
      display: none;
   }
&__span {
display: none;
}

}}